html {
    font-size: 62.5%;
    color: #000;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 14px;
}

a {
   display: flex;
   justify-content: space-between;
}

a img {
    object-fit: contain;
}

.linha {
    height: 1px;
    width: 390px;
    background-color: #D4D4D4;
    margin: 15px 0 15px 0;
}

.pergunta a {
    max-width: 321px;
}


.pergunta span {
    font-size: 1.7rem;
    font-weight: 500;
   
}

.faq-container {
    border-radius: 26px;
}

.faq {
    background-color: #fcfcfc;
    width: 655px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 50px 60px 228px;
    border-radius: 21px;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.25);
}

.faq h1 ul {
    flex-direction: column;
}


.faq .logo {
    width: 278px;
    height: 293px;
    position: absolute;
    left: -90px;
}

.content {
    display: none;
}

.content.selecionado {
    display: block;
}

.content span {
    font-size: 1.5rem;
    font-weight: 300;
}